extends ../templates/template.pug
block main
  section.app#app
    .colors-container#colors-container
      .colors.color-a
      .colors.color-b
      .colors.color-c
      .colors.color-d
      .options
        h1.title Simon Game
        button#play.play(disabled) Play
  form#form.form.form--hidden
    fieldset.fielset
      legend Login
      .form__field
        label(for="p") Name:
        input(type="text", name="player")#p
      .form__field
        label(for="d") Difficulty:
        select(name="difficulty")#d
          option(value="normal") Normal
          option(value="hard") Hard
          option(value="maniac") Maniac
      button.form__submit Save
  table.ranking#ranking-table
    caption Top Scores
    thead
      tr.ranking__head--row
        th.ranking__head Rank
        th.ranking__head Player
        th.ranking__head Difficulty
        th.ranking__head Score
        th.ranking__head Time
    tbody#players-list