extends ../templates/template.pug
block main
  section
    button.logout.logout--disabled#logout logout
    .game#colors-container
      .game__color.game__color--a
      .game__color.game__color--b
      .game__color.game__color--c
      .game__color.game__color--d
      .game__options
        h1.game__title Simon
        form.form#ingame-form
          div
            label(for="p").form__label Player:
            input(type="text", name="player" require).form__input#p
          .form__radio-container
            input(type='radio', name='difficulty', value='normal').form__radio.form__radio--a
            input(type='radio', name='difficulty', value='hard').form__radio.form__radio--b
            input(type='radio', name='difficulty', value='maniac').form__radio.form__radio--c
          button(name="submit").form__submit Save
    table.ranking
      thead
        tr.ranking__head--row
          th.ranking__head Rank
          th.ranking__head Player
          th.ranking__head Difficulty
          th.ranking__head Score
          th.ranking__head Time
      tbody#players-list