.ranking {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 3px;

  &__head {
    padding: 10px;
    font-weight: normal;
    color: #fff;

    &--row {
      background-color: rgb(255, 101, 101);
    }
  }

  &__body {
    padding: 5px;
    border: 1px solid orange;

    &--bold {
      font-weight: bold;
    }

    &--rows:nth-child(odd) {
      background-color: rgb(252, 247, 218);
    }
  }

}
