.ranking {
  padding: 3px;
  color: $font-color-1;
  border-collapse: collapse;
  background-image: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;

  &__head {
    padding: .8em;
    font-weight: normal;

    &:nth-child(2) {
      font-weight: bold;
    }
    &:nth-child(4) {
      font-weight: bold;
    }

    &:nth-last-child(1) {
      display: none;
      @include tablet {
        display: table-cell;
      }
    }
  }

  &__body {
    padding: 5px;

    &:nth-child(2) {
      font-weight: bold;
    }
    &:nth-child(3) {
      text-align: center;
    }
    &:nth-child(4) {
      font-weight: bold;
      text-align: end;
      padding-right: 1em;
    }

    &:nth-last-child(1){
      display: none;
      @include tablet {
        display: table-cell;
      }
    }    

    &--rows {
      &:nth-child(odd) {
        background-color: $leaderboard-body-color-1;
      }
      &:nth-child(even) {
        background-color: $leaderboard-body-color-2;
      }
    }
  }
}

.active-row {
  animation: recent-score 1s infinite;
}

@keyframes recent-score {
  50% {
    background-color: $leaderboard-active-color;
  }
}
