.ranking {
  // background-color: $leaderboard-bg-color;
  padding: 3px;
  border-radius: .5em;
  color: $font-color-1;
  border-collapse: collapse;
  background-image: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);

  &__head {
    padding: 5px 15px;
    font-weight: normal;
    padding: 1em;

    &--row {
      // background-color: $leaderboard-head-color;
    }
  }

  &__body {
    padding: 5px;

    &:nth-child(2) {
      font-weight: bold;
    }
    &:nth-child(3) {
      text-align: center;
    }
    &:nth-child(4) {
      font-weight: bold;
      text-align: end;
    }
    

    &--rows {
      &:nth-child(odd) {
        background-color: $leaderboard-body-color-1;
      }
      &:nth-child(even) {
        background-color: $leaderboard-body-color-2;
      }
    }
  }
}

.active-row {
  animation: recent-score 1s infinite;
}

@keyframes recent-score {
  50% {
    background-color: $leaderboard-active-color;
  }
}
